# fly.toml app configuration file generated for resort-terrain-tracker on 2026-02-23T14:56:07-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'resort-terrain-tracker'
primary_region = 'dfw'

[build]

[[mounts]]
  source = 'ski_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  size = 'shared-cpu-1x'
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
